[submodule "deepseek-harness"]
	path = deepseek-harness
	url = git@github.com:taliesinb/deepseek-harness.git
	branch = feat/embed-session
	ignore = dirty
[submodule "extras"]
	path = extras
	url = git@github.com:symbolica-ai/dsh-extras.git
	branch = main
